body {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Comfortaa', cursive;
    overflow-x: hidden;
    overflow-x: hidden;
    margin:0 auto;
    background-color: rgb(30,0,83)
}

    .mobileoverlay {
        visibility:hidden;
    }

    .wrapper {
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }

    .overlay .overlayimage{
        position:fixed;
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .wrapper .textlogo .textlogoimg{
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 25%;
        width: 25vw;
        min-width: 300px;
        height: auto;
        z-index: 4;
    }

    .wrapper .balldiv {
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }
    .wrapper .balldiv .ball{
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 25vw;
        min-width: 300px;
        height: auto;
        animation: shake 0.5s;
        animation-iteration-count: 3;
    }

    .wrapper .text {
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        text-align: center;
        width: 15vw;
        height: auto;
        z-index: 3;
        font-size: 2vw;
        animation:1s ease 2s normal forwards 1 fadein;
        -webkit-animation:1s ease 2s normal forwards 1 fadein;
        opacity:0;
    }

    .wrapper .instructiontext {
        position: fixed;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 0%;
        text-align: center;
        width: 15vw;
        height: auto;
        z-index: 3;
        font-size: 2vw;
        color:rgb(242,167,59)
    }
    

        /* Text fade-in animation (inside ball) */
        @keyframes fadein{from{opacity:0}
        to{opacity:1}
        }
        
        @-webkit-keyframes fadein{from{opacity:0}
        to{opacity:1}
        }
    
        /* Ball shake animation */
        @keyframes shake {
            0% { transform: translate(-50%, -50%) rotate(0deg); }
            10% { transform: translate(-50%, -50%) rotate(-1deg); }
            20% { transform: translate(-52%, -49%) rotate(1deg); }
            30% { transform: translate(-52%, -51%) rotate(0deg); }
            40% { transform: translate(-50%, -50%) rotate(1deg); }
            50% { transform: translate(-50%, -51%) rotate(-1deg); }
            60% { transform: translate(-52%, -50%) rotate(0deg); }
            70% { transform: translate(-52%, -50%) rotate(-1deg); }
            80% { transform: translate(-50%, -50%) rotate(1deg); }
            90% { transform: translate(-50%, -51%) rotate(0deg); }
            100% { transform: translate(-50%, -51%) rotate(-1deg); }
          }


    /* Adapts CSS for mobile screens */
    @media (orientation: portrait) {
            
        .overlay .overlayimage{
                display: none;
          }

          .mobileoverlay .mobileoverlayimage {
            position:fixed;
            width: 100%;
            height: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            visibility: visible;
          }

          .wrapper .instructiontext {
            position: fixed;
            left: 50%;
            transform: translate(-50%, -50%);
            bottom: 10%;
            text-align: center;
            width: 15vw;
            height: auto;
            z-index: 3;
            font-size: 3vw;
            color:rgb(242,167,59)
        }
        
        .wrapper .text {
            position: fixed;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
            text-align: center;
            width: 40vw;
            height: auto;
            z-index: 3;
            font-size: 4vw;
            animation:1s ease 2s normal forwards 1 fadein;
            -webkit-animation:1s ease 2s normal forwards 1 fadein;
            opacity:0;
        }

    }